
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h2>Bu sayfaya erişim izniniz yok!</h2>

<div class="container">
    <img src="https://placeimg.com/800/800/animals"/>
</div>

