@model NUEVO.EmlakOfisi.Case.Entity.DTO.User.ResetPasswordDto

@{
    ViewData["Title"] = "Şifremi Unuttum";
}
@if (ViewBag.status == "success")
{
    <div class="container">

        <!-- Blockquote
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
                <!-- Headline -->
                <h4 class="headline with-border margin-top-0 margin-bottom-35">Şifremi Unuttum</h4>
                <blockquote>Şifre yenilemeye ait e-mail eğer sistemimizde kayıtlı ise başarı ile gönderilmiştir.</blockquote>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <!--Tab -->
                <div class="my-account style-1 margin-top-5 margin-bottom-40">
                    <h3>Şifremi Unuttum</h3>
                    <div class="tabs-container alt">
                        <div class="alert alert-info">Yeni şifre talebiniz için kayıtlı e-mail adresinizi giriniz.</div>
                        <!-- Şifremi Unuttum -->
                        <div class="tab-content" id="tab1" style="display: none;">
                            <form asp-action="ResetPassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <p class="form-row">
                                    <input type="submit" class="button border margin-top-10" name="reset" value="Sıfırla" />
                                </p>
                                @*<div class="form-group">
                                        <input type="submit" value="Sıfırla" class="btn btn-default" />
                                    </div>*@
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container / End -->
}